<!DOCTYPE HTML>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet/less" href="{{ MEDIA_URL }}style.less" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Arvo:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
	<script src="{{ MEDIA_URL }}less-1.0.41.min.js" type="text/javascript"></script>
</head>
<body>
    <div id="top">
	    <h1>QR Attend</h1>
	</div>
	
	<div id="content">
	{% block content %}
	{% endblock %}
	</div>
	
	{% if debug == True %}
	<script type="text/javascript">
		var fresh = setInterval("less.refresh()", 500);
	</script>
	{% endif %}
</body>
</html>