<!DOCTYPE HTML>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<title>QR Attend</title>
	<link rel="stylesheet/less" href="/static/style.less" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Arvo:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
	<script src="/static/less-1.0.41.min.js" type="text/javascript"></script>
</head>
<body>
    <div id="top">
        {% if me %}
            <p id="user_info">Hello, {{ me.first_name }}. <a href="/logout/">Logout?</a></p>
        {% endif %}
	    <h1><a href="/">QR Attend</a></h1>
	</div>
	
	<div id="content">
	{% block content %}
	{% endblock %}
	</div>
	
	<footer>
	    <p>Created by Ethan, Jacob, and Dennis for 
	        the 2011 FB Hackathon.</p>
	    </p>
	</footer>
	
	{% if debug == True %}
	<script type="text/javascript">
		var fresh = setInterval("less.refresh()", 500);
	</script>
	{% endif %}
</body>
</html>