<!DOCTYPE HTML>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<title>QR Attend</title>
	<link rel="stylesheet" href="/static/style.css" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Arvo:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
</head>
<body>
    <div id="top">
        {% if me %}
            <p id="user_info">Hello, {{ me.first_name }}. <a href="/logout/">Logout?</a></p>
        {% endif %}
	    <h1><a href="/">QR Attend</a></h1>
	</div>
	
	<div id="content">
	{% block content %}
	{% endblock %}
	</div>
	
	<footer>
	    <p>Created by Ethan, Jacob, and Dennis for 
	        the 2011 FB Hackathon.</p>
	    </p>
	</footer>
	
</body>
</html>