{% extends "base.html" %}

{% block content %}
<div id="events">
    <h2>Click an event to create its QR code and mobile site:</h2>
    
    <ul id="create_list">
        {% for event in events %}
            {% if event.start_dt %}
                <li><a href="/create/{{ event.id }}">
                        <img src="http://graph.facebook.com/{{ event.id }}/picture" 
                            width="50" height="50">
                        <p><strong>{{ event.name }}</strong>
                        <em>{{ event.location }}</em>
                        <em>{{ event.start_dt|date:"l, F j" }} 
                            {% if event.end_dt %} from {% else %} at {% endif %}
                             {{ event.start_dt|date:"P" }} 
                             to {{ event.end_dt|date:"P" }}</em>
                        </p>
                    </a>
                </li>
            {% endif %}
        {% empty %}
            <li>No events available. You can only make QR codes for public events that you created and which are in the future.</li>
        {% endfor %}
    </ul>
    
    <h2>Events I have already made QR codes for:</h2>
    
    <ul id="db_list">
        {% for db_event in db_events %}
            {% if db_event.start_dt %}
                <li><a href="/event/{{ db_event.id }}">
                        <img src="http://graph.facebook.com/{{ db_event.id }}/picture">
                        <strong>{{ db_event.name }}</strong>
                        <em>{{ db_event.location }}</em>
                        <em>{{ db_event.start_dt|date:"l, F j" }} 
                            {% if db_event.end_dt %} from {% else %} at {% endif %}
                             {{ db_event.start_dt|date:"P" }} 
                             to {{ db_event.end_dt|date:"P" }}</em>
                    </a>
                </li>
            {% endif %}
        {% empty %}
            <li>You have not created any QR codes.</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
