{% extends "base.html" %}

{% block content %}
<div id="events">
    <ul id="e_list">
    {% for event in events %}
        {% if event.start_dt %}
            <li><img src="http://graph.facebook.com/{{ event.id }}/picture">
                <strong>{{ event.name }}</strong>
                <em>{{ event.location }}</em>
                <em>{{ event.start_dt|date:"l, F j" }} 
                    {% if event.end_dt %} from {% else %} at {% endif %}
                     {{ event.start_dt|date:"P" }} to {{ event.end_dt|date:"P" }}</em>
            </li>
        {% endif %}
    {% empty %}
        <li>No events available. Make sure your event is in the future and open to the public.</li>
    {% endfor %}
    </ul>  
</div>
{% endblock %}