/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  margin: 0 auto;
  font-family: 'Arvo', Georgia, Times, sans-serif;
  background: #efefef;
}
h1, h2 {
  font-weight: bold;
  line-height: 1.5;
  text-shadow: 0px 1px 0px #fff;
}
#top {
  background: #67a637;
  margin-bottom: 32px;
}
h1 {
  font-size: 64px;
  background: url('img/code.png') no-repeat left center;
  width: 544px;
  margin: 0 auto;
  padding-left: 96px;
}
h1 a {
  color: #000;
  text-decoration: none;
}
h2 {
  font-size: 24px;
  margin-bottom: 16px;
}
ul {
  list-style: disc;
  margin-left: 24px;
  line-height: 1.5;
  margin-bottom: 16px;
}
a {
  position: relative;
}
a:active {
  top: 1px;
}
#content {
  width: 640px;
  margin: 0 auto;
}
#home {
  font-size: 20px;
}
#user_info {
  margin: 0 auto;
  width: 640px;
  text-align: right;
  margin-bottom: -32px;
  padding: 16px 0;
}
#user_info a {
  color: #fff;
}
#user_info a:hover {
  color: #efefef;
}
#create_list, #db_list, #friends_list {
  list-style: none;
  margin-left: 0;
}
#create_list li, #db_list li, #friends_list li {
  clear: both;
  margin-bottom: 8px;
}
#create_list img, #db_list img, #friends_list img {
  float: left;
  margin-left: -50px;
}
#create_list a, #db_list a, #friends_list a {
  display: block;
  color: #4f802a;
  text-decoration: none;
}
#create_list a:hover p, #db_list a:hover p, #friends_list a:hover p {
  background: #67a637;
  color: #fff;
}
#create_list p, #db_list p, #friends_list p {
  padding: 8px 16px;
  background: #fff;
  border-left: 2px solid #67a637;
}
#create_list strong, #db_list strong, #friends_list strong {
  display: block;
  color: #000;
  font-weight: bold;
}
#create_list em, #db_list em, #friends_list em {
  display: block;
  font-size: 14px;
}
#create_list .fb, #db_list .fb, #friends_list .fb {
  float: right;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  background: #3b5998;
  padding: 8px 16px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  text-shadow: 0px 1px 0px #000;
}
#slider {
  width: 640px;
  height: 18px;
  margin-bottom: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}
footer {
  margin: 64px 0;
  text-align: center;
}
/* jQuery UI Cruft */
.ui-slider {
  position: relative;
  text-align: left;
  background-color: #fff;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 24px;
  height: 24px;
  cursor: default;
  background-color: #67a637;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
}
.ui-slider .ui-slider-handle.ui-state-hover, .ui-slider .ui-slider-handle.ui-state-active, .ui-slider .ui-slider-handle.ui-state-focus {
  outline: none;
  background-color: #4f802a;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -4px;
  margin-left: -12px;
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
